*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/.vs
/ipch
/Win32
/x64
/MyDotNetHelpers/bin
/MyDotNetHelpers/obj
/WpfWinMirror/bin
/WpfWinMirror/obj
